extends layout

block content
  h1= title


  if error
    p Error getting dynamic content.
  else
    p The CRM has the following record counts:

    ul
      li #[strong Clients:] !{data.client_count}
      li #[strong Notes:] !{data.note_count}
